body {
    min-width: 300px; /* your desired width */
    position: relative;
    vertical-align:middle;
}

#slider {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    z-index: -1;
}

button {
    min-width: 120px;
}

#ex1Slider .slider-selection {
    background: #BABABA;
}

.inHealthImage {
    margin: auto;
}

.inHealthTitle {
    font-family: 'Homemade Apple', cursive;
    font-size: 35px;
    color: indianred;
}